<div class="inner">
    <ul id="contact_socials">
        <li class="footer_text">Вопросы и предложения: <a href="mailto:ceo.request@gmail.com">ceo.request@gmail.com</a></li>
        <li><a class="share facebook" href="https://www.facebook.com/request.project" target="_blank"></a></li>
        <li><a class="share google" href="https://plus.google.com/u/0/communities/107860058492106963570" target="_blank"></a></li>
        <li><a class="share vimeo" href="http://vk.com/request_project" target="_blank"></a></li>
    </ul>
</div>