<div class="logo">
    <img class="logo_image" onclick="window.setTimeout('location.reload()', 10);" src="img/icon.jpg"  alt="ReQuest Icon">
</div>

<button class="new_vacancy" ng-click="newVacancy()">Новая вакансия</button>

<ul class="menu">
    <li class="menu_item">
        <img src="img/menu/navico.gif" alt="A">
        <a href="#/home">Главная</a>
    </li>
    <li class="menu_item">
        <img src="img/menu/navico.gif" alt="A">
        <a href="#/requests">Вакансии</a>
    </li>
    <li class="menu_item">
        <img src="img/menu/navico.gif" alt="S">
        <a href="article/">Cтатьи</a>
    </li>
    <li class="menu_item">
        <img src="img/menu/navico.gif" alt="A">
        <a href=".">О проекте</a>
    </li>
</ul>

<div id="switch">
    <div class="allVacancy checkedVacancy">Общие</div>
    <div class="myVacancy">Мои</div>
</div>
