<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--Hello details {{vacancy}}-->
<div id="details">
    <form id="form1" class="details_form">
        <fieldset style="border: 0; padding: 20px">
            <legend class="legend_new_vacancy">Детали вакансии</legend>

            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> Название вакансии: </label>
                <span style="float: right; width:60%;">{{vacancy.title}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> Вознаграждение: </label>
                <span style="float: right; width:60%;">{{vacancy.reward}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> 
                    Срок вакансии: 
                </label>
                <span style="float: right; width:60%;" >{{vacancy.expire}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> 
                    Название компании: 
                </label>
                <span style="float: right; width:60%;">{{vacancy.company}}</span>
                <div style="clear: both"></div>
            </div>
            <!--            <div style="padding:0.1em; margin:0.1em;">
                            <label style="float:left; margin-right:10px; padding:5px 0;"> 
                                Описание вакансии: 
                            </label>
                            <span style="float: right; width:60%;">{{vacancy.description}}</span>
                            <div style="clear: both"></div>
                        </div>-->
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> 
                    Требования: 
                </label>
                <span style="float: right; width:60%;">{{vacancy.demands}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;"> 
                    Условия: 
                </label>
                <span style="float: right; width:60%;" >{{vacancy.terms}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;">
                    Зарплата:
                </label>
                <span style="float: right; width:60%;">{{vacancy.salary}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;">
                    Город:  
                </label>
                <span style="float: right; width:60%;">{{vacancy.city}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;">
                    Адрес компании:  
                </label>
                <span style="float: right; width:60%;">{{vacancy.c_adress}}</span>
                <div style="clear: both"></div>
            </div>
            <div style="padding:0.1em; margin:0.1em;">
                <label style="float:left; margin-right:10px; padding:5px 0;">
                    Описание компании:  
                </label>
                <span style="float: right; width:60%;">{{vacancy.c_desc}}</span>
                <div style="clear: both"></div>
            </div>

            <input type="button" value="Далее" style="float: right" ng-click="getRespondForm()"/>
            <input type="button" value="Назад" style="float: left" onclick="location.href = '#/requests'"/>
        </fieldset>
    </form>
</div>