<div class="outer" >
    <div ng-repeat="respond in responds" class="vacancy" ng-click="linkClicked(respond.id)">
        <div class="row">
            <span class="vacancy_company middle">{{respond.name}}</span>
            <!--<span class="vacancy_reward right">${{request.reward}}</span>-->
        </div>
        <div class="row">
            <span class="vacancy_title middle">
                {{respond.comment}}
            </span>
            <br/>
            <br/>
        </div>
        <div class="row"> 
            <span class="vacancy_expire right">
                Wanted until: {{respond.updateDate}}
            </span>
            <span class="vacancy_create left">
                Created at: {{respond.createDate}}
            </span>
        </div>
        <div class="row">

        </div>
    </div>
</div>