
/* Disable iOS/WinMobile font size change */
@media screen and (max-width: 600px), 
screen and (max-device-width: 480px){
    html{
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}


@media only screen and (min-width: 1100px) and (max-width: 1189px) {
    .tr #col1 b img{
        max-width: 100% 
    }

    .main_menu{
        font-size: 16px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
    .tr #col1 b img{
        max-width: 100% 
    }
    
    .main_menu{
        font-size: 0.875em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
    .tr #col1 b img{
        max-width: 100% 
    }
    
    .main_menu{
        font-size: 0.875em;
    }    
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .tr #col1 b img{
        max-width: 100% 
    }
    .main_menu{
        font-size: 0.75em;
    }
}

@media only screen and (min-width: 410px) and (max-width: 599px) {
    .tr #col1 b img{
        max-width: 100% 
    }
    
    .main_menu{
        font-size: 0.75em;
    }
}

@media only screen and (max-width : 409px) {
    .tr #col1 b img{
        max-width: 100% 
    }
    
    .main_menu{
        font-size: 0.75em;
    }
}