@font-face {
    font-family:'P22UndergroundCYPro-Book';
    src: url('font/P22UndergroundCYPro-Book.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Demi';
    src: url('font/P22UndergroundCYPro-Demi.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Heavy';
    src: url('font/P22UndergroundCYPro-Heavy.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Light';
    src: url('font/P22UndergroundCYPro-Light.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Medium';
    src: url('font/P22UndergroundCYPro-Medium.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Thin';
    src: url('font/P22UndergroundCYPro-Thin.otf');
}

body{
    font-size: 15px;
}

#header {
    height: 105vh;
    width: 100%;
    background-color:white;
    background-image: url(../img/lp-t.png);
    background-size: 100% 100%;
    position: relative;
    padding: 0px;

}


#topheader{
    font-family: P22UndergroundCYPro-Thin;
    color: black;
    padding: 0px;
    font-size: 2.5vw;
    margin-top: 6vw;
    margin-left: 46vw;
    position: absolute;
    width: 20vw;
    text-align: right;
}

#leftheader{
    position:absolute;
    bottom: 5vw;
    width: 25vw;
    height: 10vw;
    margin-left: 20vw;
    font-family: P22UndergroundCYPro-Thin;
    color: black;
    font-size: 2.4vw;
    padding: 0px;
}

div.gradient{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f7edd4), color-stop(100%,#e6ce9e));
    background-image: url(../img/lpf.png);
    background-size: 100% 100%;
    height: 28vw;
    width: 100%; 
}

div.redline{
    width: 100%;
    background-color:#DC4B4E;
    color: white;
    height: 7.4vw;
    position:relative;
    text-align: center;

}

#redlinefont{
    color: white;
    font-size: 4vw;
    position:absolute;
    margin-top: 2vw;
    font-family: P22UndergroundCYPro-Medium;
    margin-left: 35vw;

}

div.greyline{
    //background-color: #E3D3AF;
    //height:70px;
    width:100%;
    //margin-top: 0px;

}

div.greybox{
    /* margin-left:3vw; */
}

.button2{
    text-decoration:none;
    text-align:center; 
    padding:1vw 1.5vw; 
    border:solid 0.2vw #dc4b4d; 
    border-radius: 1vw; 
    color:#dc4b4d; 
    background:#f8eecb;
    position:absolute;
    bottom: 7.5vw;
    width: 9vw;
    height: 3.5vw;
    margin-left: 50vw;
    font-family: P22UndergroundCYPro-Heavy;
    font-size: 2.5vw;
}

.button2:hover{
    text-decoration:none;
    text-align:center; 
    padding:1vw 1.5vw; 
    border:solid 0.2vw #dc4b4d; 
    border-radius: 1vw; 
    color:#f8eecb; 
    background:#dc4b4d;
    position:absolute;
    bottom: 7.5vw;
    width: 9vw;
    height: 3.5vw;
    margin-left: 50vw;
    font-family: P22UndergroundCYPro-Heavy;
    font-size: 2.5vw;
}

.button{ 
    text-decoration:none;
    text-align:center; 
    padding:1vw 2vw; 
    border:solid 0.2vw #dc4b4d; 
    border-radius: 1vw;
    color:#f8eecb; 
    background:#dc4b4d;  
    position:absolute;
    margin-top: 18vw;
    width: 16vw;
    height: 5vw;
    margin-left: 30vw;
    font-family: P22UndergroundCYPro-Heavy;
    font-size: 4vw;
}

.button:hover{
    text-decoration:none;
    text-align:center; 
    padding:1vw 2vw; 
    border:solid 0.2vw #dc4b4d; 
    border-radius: 1vw;
    color:#dc4b4d; 
    background:#f8eecb;  
    position:absolute;
    margin-top: 18vw;
    width: 16vw;
    height: 5vw;
    margin-left: 30vw;
    font-family: P22UndergroundCYPro-Heavy;
    font-size: 4vw;
}

ol{
    list-style-type: none;
    font-family: P22UndergroundCYPro-Light;
    color: black;
    position:absolute;
    font-size: 1.9vw;
}

.left_ol{
    width:40%;
    height:40%;
    float: left;
    text-align: left;
    margin-top: 4vw;
    margin-left: 5vw;
}

.right_ol{
    width:40%;
    height:40%;
    float:right;
    text-align: right;
    margin-top: 4vw;
    margin-right: 8vw;
}

.bottom_gradient{
    position: absolute;

    margin-top: 18vw;

    width: 60vw;
    margin-left: 4vw;
    font-family: P22UndergroundCYPro-Thin;
    font-size: 2.1vw;
}

.ceo{
    /* color: white; */ 
    font-family:P22UndergroundCYPro-Heavy; 
    font-size: 2.5vw; 
    margin-top: 0vw;
    padding-top: 1.5vw;
    margin-left: 20vw;
    /* position: absolute; */
    text-align: center;
    color: #DC4B4E;
}

/** SOCIAL ICONS**/

#contact_socials {
    display: inline;
    margin-right: auto;
    margin-top: 100px;
} 

#contact_socials li {
    float: left;
    margin: 10px;
    //margin-right: 10px;

} 

#contact_socials li a.googleplus {    background-position: -120px 0px } 

#contact_socials li a.googleplus:active {    background-color: #333333 } 

#contact_socials li a.googleplus:hover {
    background-color: #DC5442;
    background-position: -120px -60px;
} 

#contact_socials li a.linkedin {    background-position: -300px 0px } 

#contact_socials li a.linkedin:active {    background-color: #333333 } 

#contact_socials li a.linkedin:hover {
    background-color: #096C9B;
    background-position: -300px -60px;
} 

#contact_socials li a.facebook {    background-position: 0px 0px;} 

#contact_socials li a.facebook:active {    background-color: #333333 } 

#contact_socials li a.facebook:hover {
    background-color: #3560A0;
    background-position: 0px -60px;
} 

#contact_socials li a.vimeo {    background-position: -420px 0px } 

#contact_socials li a.vimeo:active {    background-color: #333333 } 

#contact_socials li a.vimeo:hover {
    background-color: #00B9EA;
    background-position: -420px -60px;
} 

#contact_socials li a {
    -moz-border-radius: 8px;
    -moz-transition: 200ms linear background-color, 250ms ease-in background-position;
    -ms-transition: 200ms linear background-color, 250ms ease-in background-position;
    -o-transition: 200ms linear background-color, 250ms ease-in background-position;
    -webkit-border-radius: 8px;
    -webkit-transition: 200ms linear background-color, 250ms ease-in background-position;
    background-color: transparent;
    background-image: url(../img/contact_socials_sprite.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: list-item;
    height: 50px;
    transition: 200ms linear background-color, 250ms ease-in background-position;
    width: 50px;
}  